<section class="container">
  <form [formGroup]="formEnrollment" (ngSubmit)="onSubmitEnrollment()" class="row justify-content-center py-3">
    <div class="col-sm-12 col-md-6 col-lg-4 col-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Número da pré-incrição</mat-label>
        <input matInput type="text" formControlName="enrollment" placeholder="Digite o número de inscrição" />
        @if(formEnrollment.controls['enrollment'].errors?.['required']){
          <mat-error>Este campo é obrigatório</mat-error>
        }
        @if(formEnrollment.controls['enrollment'].errors?.['mask']){
          <mat-error>Valor digitado errado</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-4 col-12">
      <button-loading
        [loading]="loadingSubmitForm"
        [type]="'submit'"
        [color]="'primary'"
        [description]="'Pesquisar'"
        [iconNext]="'arrow_forward'"
        [class]="'w-100 p-1-7'">
      </button-loading>
    </div>
  </form>
</section>
@if (showCardData) {
  <main class="container-fluid">
    <form [formGroup]="formTeam" (ngSubmit)="onSubmit()" #formDirective="ngForm">
      <div class="row justify-content-center">
        <mat-card class="col-11">
          <mat-card-header>
            <mat-card-title class="d-flex align-items-center">
              <mat-icon class="mat-18">how_to_reg</mat-icon>
              Pré-inscrição Copa ACE
            </mat-card-title>
            <mat-card-subtitle>Tela para fazer a sua pré-inscrição para demostra o seu interesse!</mat-card-subtitle>
          </mat-card-header>

          <div class="row justify-content-end py-2">
            @if(!modeEditing){
              <div class="col-sm-5 col-md-4 col-lg-3 col-12 mb-3">
                <button (click)="showEdintingMode()" type="button" class="w-100" color="primary" mat-raised-button>
                  <mat-icon class="m0">draw</mat-icon>
                  Editar Pré-inscrição
                </button>
              </div>
            }

            <div class="col-sm-5 col-md-4 col-lg-3 col-12">
              <button (click)="deleteEnrollment()" type="button" class="w-100" color="warn" mat-raised-button>
                <mat-icon class="m0">delete</mat-icon>
                Deletar Pré-inscrição
              </button>
            </div>
          </div>

          <mat-card-content class="py-2">
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-11 col-lg-8 col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Número de Pré-incrição</mat-label>
                  <input matInput formControlName="enrollment" placeholder="Digite o nome do time">
                  @if(formTeam.controls['enrollment'].errors?.['required']){
                    <mat-error>Este campo é obrigatório</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-center">
              <div class="col-sm-8 col-md-8 col-lg-6 col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Nome do time</mat-label>
                  <input matInput formControlName="name" placeholder="Digite o nome do time">
                  @if(formTeam.controls['name'].errors?.['required']){
                    <mat-error>Este campo é obrigatório</mat-error>
                  }
                </mat-form-field>
              </div>

              <div class="col-sm-4 col-md-3 col-lg-2 col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Sigla do Time</mat-label>
                  <input matInput formControlName="acronym" mask="AAA" placeholder="Sigla para transmissão">
                  @if(formTeam.controls['acronym'].errors?.['required']){
                    <mat-error>Este campo é obrigatório</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-center" formGroupName="city">
              <div class="col-sm-8 col-md-8 col-lg-6 col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Cidade</mat-label>
                  <input matInput formControlName="name" placeholder="Digite o nome do time">
                  @if(formTeam.get('city.name')?.errors?.['required']){
                    <mat-error>Este campo é obrigatório</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-sm-4 col-md-3 col-lg-2 col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>UF</mat-label>
                  <input matInput formControlName="uf" mask="AA" placeholder="Digite o nome do time">
                  @if(formTeam.get('city.uf')?.errors?.['required']){
                    <mat-error>Este campo é obrigatório</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            <div class="row justify-content-center" formGroupName="responsible">
              <div class="col-sm-7 col-md-6 col-lg-4 col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Nome do responsável</mat-label>
                  <input matInput formControlName="name" placeholder="Digite o nome do time">
                  @if(formTeam.get('responsible.name')?.errors?.['required']){
                    <mat-error>Este campo é obrigatório</mat-error>
                  }
                </mat-form-field>
              </div>
              <div class="col-sm-5 col-md-5 col-lg-4 col-12">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Celular do responsável</mat-label>
                  <input matInput formControlName="phone" mask="(00) 0 0000-0000" placeholder="Digite o celular">
                  @if(formTeam.get('responsible.phone')?.errors?.['required']){
                    <mat-error>Este campo é obrigatório</mat-error>
                  }
                </mat-form-field>
              </div>
            </div>

            @if(modeEditing){
              <div class="row justify-content-center">
                <div class="col-sm-4 col-md-4 col-lg-3 col-12">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Categoria</mat-label>
                    <mat-select formControlName="category">
                      @for (category of listCategoriesSelect; track category) {
                        <mat-option value="{{category.value}}">{{category.label}}</mat-option>
                      }
                    </mat-select>
                    @if(formTeam.controls['category'].errors?.['required']){
                      <mat-error>Este campo é obrigatório para adicionar uma Categoria</mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-md-4 col-lg-3 col-12">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Naipe</mat-label>
                    <mat-select formControlName="naipe">
                      @for (naipe of listNaipesSelect; track naipe) {
                        <mat-option value="{{naipe.value}}">{{naipe.label}}</mat-option>
                      }
                    </mat-select>
                    @if(formTeam.controls['naipe'].errors?.['required']){
                      <mat-error>Este campo é obrigatório para adicionar uma Categoria</mat-error>
                    }
                  </mat-form-field>
                </div>
                <div class="col-sm-4 col-md-3 col-lg-2 col-12">
                  <button (click)="addNewCategory()" type="button" class="w-100 h-button" color="primary" mat-raised-button>
                    <mat-icon class="m0">add</mat-icon>
                    Adicionar Categoria
                  </button>
                </div>
              </div>
            }
            <div class="row justify-content-center">
              <div class="col-sm-12 col-md-11 col-lg-8 col-12">
                <mat-list class="container-list" role="list">
                  <div class="title" mat-subheader>Categorias selecionadas</div>
                    @for (category of formTeam.get("categories")?.value; track category;) {
                      <mat-divider></mat-divider>
                      <mat-list-item role="listitem">
                        <mat-icon matListItemIcon>sports_volleyball</mat-icon>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="d-flex flex-column">
                            <span class="category">{{labelCategory(category.category)}}</span>
                            <span class="naipe">{{labelNaipe(category.naipe)}}</span>
                          </div>

                          @if(modeEditing){
                            <button (click)="deleteCategory($index)" mat-icon-button type="button">
                              <mat-icon class="icon">delete</mat-icon>
                            </button>
                          }
                        </div>
                      </mat-list-item>
                    }
                </mat-list>
              </div>
            </div>

            @if(modeEditing){
              <div class="row justify-content-center">
                <div class="col-sm-12 col-md-8 col-lg-7 col-12">
                  <button-loading
                    [loading]="loadingSubmitForm"
                    [type]="'submit'"
                    [color]="'primary'"
                    [disabled]="formTeam.invalid"
                    [description]="'Salvar alterações da pré-inscrição'"
                    [iconNext]="'arrow_forward'"
                    [class]="'w-100'">
                  </button-loading>
                </div>
              </div>
            }
          </mat-card-content>
        </mat-card>
      </div>
    </form>
  </main>
}
