<main class="container-fluid p-3">
  <div class="row justify-content-center">
    <mat-card>
      <mat-card-header>
          <mat-card-title class="d-flex align-items-center">
            <mat-icon class="mat-18">paid</mat-icon>
            Times
          </mat-card-title>
          <mat-card-subtitle>Times pré-inscritos</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="py-4">
        <section class="col-12 py-4">
          <mat-button-toggle-group [formControl]="filterCategory" aria-label="Categorias">
            <mat-button-toggle value="TODOS">TODOS</mat-button-toggle>
            <mat-button-toggle value="SUB14">SUB-14</mat-button-toggle>
            <mat-button-toggle value="SUB17">SUB-17</mat-button-toggle>
            <mat-button-toggle value="SUB19">SUB-19</mat-button-toggle>
            <mat-button-toggle value="ADL">ADULTO</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-button-toggle-group [formControl]="filterNaipe" class="ms-4" aria-label="Naipe" multiple>
            <mat-button-toggle value="FEMININO">FEMININO</mat-button-toggle>
            <mat-button-toggle value="MASCULINO">MASCULINO</mat-button-toggle>
          </mat-button-toggle-group>
        </section>
        <div class="col-12">
          <table-expandable
            [tableColumns]="displayedColumnsTableSales"
            [dataSourceData]="championship"
            [spinnerLoader]="loadTable"
            [template]="greet"
          >
            <ng-template #greet let-team="team">
              <mat-list class="container-list w-100" role="list">
                <div class="title" mat-subheader>Categorias selecionadas</div>
                  @for (category of team.categories; track category;) {
                    <mat-divider></mat-divider>
                    <mat-list-item role="listitem">
                      <mat-icon matListItemIcon>sports_volleyball</mat-icon>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column">
                          <span class="category">{{labelCategory(category.category)}}</span>
                          <span class="naipe">{{labelNaipe(category.naipe)}}</span>
                        </div>
                      </div>
                    </mat-list-item>
                  }
              </mat-list>
            </ng-template>
          </table-expandable>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</main>
