
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$s-primary: mat.define-palette(mat.$indigo-palette);
$s-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$s-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$s-theme: mat.define-light-theme((
  color: (
    primary: $s-primary,
    accent: $s-accent,
    warn: $s-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($s-theme);

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$s-primary: mat.define-palette(mat.$indigo-palette);
$s-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$s-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$s-theme: mat.define-light-theme((
  color: (
    primary: $s-primary,
    accent: $s-accent,
    warn: $s-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($s-theme);

@import "./theming-color-angular.scss";

@include mat.core();

$gesport-app-primary: mat.define-palette($gesport-primary);
$gesport-app-accent: mat.define-palette($gesport-accent);
$gesport-app-warn: mat.define-palette($gesport-warn);

$gesport-theme: mat.define-light-theme((
  color: (
    primary: $gesport-app-primary,
    accent: $gesport-app-accent,
    warn: $gesport-app-warn,
  )
));

@include mat.all-component-themes($gesport-theme);

html, body { height: 100%; background-color: rgb(129, 174, 255, 0.1); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;

}
::ng-deep input[type=number] {
 -moz-appearance: textfield !important;
 appearance: textfield !important;

}

.color-primary{
  color: $gesport-primary-color;
}
.color-accent{
  color: $gesport-accent-color;
}
.color-warn{
  color: $gesport-warn-color;
}
.color-success{
  color: $gesport-success-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
