//Angular Material
@use '@angular/material' as mat;
@import "./theming-color-angular.scss";

@include mat.core();

$gesport-app-primary: mat.define-palette($gesport-primary);
$gesport-app-accent: mat.define-palette($gesport-accent);
$gesport-app-warn: mat.define-palette($gesport-warn);

$gesport-theme: mat.define-light-theme((
  color: (
    primary: $gesport-app-primary,
    accent: $gesport-app-accent,
    warn: $gesport-app-warn,
  )
));

@include mat.all-component-themes($gesport-theme);

html, body { height: 100%; background-color: rgb(129, 174, 255, 0.1); }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;

}
::ng-deep input[type=number] {
 -moz-appearance: textfield !important;
 appearance: textfield !important;

}

.color-primary{
  color: $gesport-primary-color;
}
.color-accent{
  color: $gesport-accent-color;
}
.color-warn{
  color: $gesport-warn-color;
}
.color-success{
  color: $gesport-success-color;
}
