$gesport-primary-color: #022873;
$gesport-accent-color: #0433BF;
$gesport-warn-color: #D91A1A;
$gesport-success-color: #4caf50;

$gesport-primary: (
    50 : #e1e5ee,
    100 : #b3bfd5,
    200 : #8194b9,
    300 : #4e699d,
    400 : #284888,
    500 : #022873,
    600 : #02246b,
    700 : #011e60,
    800 : #011856,
    900 : #010f43,
    A100 : #7888ff,
    A200 : #455bff,
    A400 : #122eff,
    A700 : #001df7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$gesport-accent: (
  50 : #e1e7f7,
  100 : #b4c2ec,
  200 : #8299df,
  300 : #4f70d2,
  400 : #2a52c9,
  500 : #0433bf,
  600 : #032eb9,
  700 : #0327b1,
  800 : #0220a9,
  900 : #01149b,
  A100 : #c6caff,
  A200 : #939bff,
  A400 : #606bff,
  A700 : #4753ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #ffffff,
      A700 : #ffffff,
  )
);

$gesport-warn: (
  50 : #fae4e4,
  100 : #f4baba,
  200 : #ec8d8d,
  300 : #e45f5f,
  400 : #df3c3c,
  500 : #d91a1a,
  600 : #d51717,
  700 : #cf1313,
  800 : #ca0f0f,
  900 : #c00808,
  A100 : #ffebeb,
  A200 : #ffb8b8,
  A400 : #ff8585,
  A700 : #ff6b6b,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
