<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="text-center row">
      <div class=" col-md-6">
          <img src="assets/images/404-rocket.png" alt="" class="img-fluid">
      </div>
      <div class=" col-md-6 mt-5">
          <p class="fs-3">Você está <span class="text-danger">perdido?</span></p>
          <p class="lead">
            Desculpe, não conseguimos encontrar a página.
          </p>
          <button routerLink="/" routerLinkActive="404"  mat-raised-button color="primary">Ir ao Início</button>
      </div>

  </div>
</div>
