<section class="container-fluid">
  <form class="w-100 px-4 py-5 placeholder-glow" [formGroup]="formCandidate" (ngSubmit)="onSubmit()">
    @if(!schools){
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-7 col-12 ">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3 col-12">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-6">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-6">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-7 col-12">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-3 col-md-2 col-lg-2 col-3">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
        <div class="col-sm-5 col-md-3 col-lg-2 col-9">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3 col-12">
          <span height="3rem" class="placeholder w-100 mb-4"></span>
        </div>
      </div>
    } @else if (schools.length) {
      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-7 col-12">
          <h1>Seletiva Encerrada, aguarde a abertura de uma nova seletiva</h1>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-7 col-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" placeholder="Digite o nome completo">
            @if(formCandidate.controls['name'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-6 col-md-4 col-lg-3 col-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Data nascimento</mat-label>
            <input matInput formControlName="birthDate" type="date">
            @if(formCandidate.controls['birthDate'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Altura (cm)</mat-label>
            <input matInput type="text" mask="0*" formControlName="height" placeholder="Ex.: 175">
            @if(formCandidate.controls['height'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-6">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Peso (kg)</mat-label>
            <input matInput type="text" mask="0*" formControlName="weight" placeholder="Ex.: 80">
            @if(formCandidate.controls['weight'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-3 col-12">
          <mat-form-field class="w-100"  appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="MASCULINO">Masculina</mat-option>
              <mat-option value="FEMININO">Feminina</mat-option>
            </mat-select>
            @if(formCandidate.controls['gender'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-4 col-12">
          <mat-form-field class="w-100"  appearance="outline">
            <mat-label>Nível de escolaridade</mat-label>
            <mat-select formControlName="educationLevel">
              <mat-option [value]="1">Ensino Fundamental II (em andamento)</mat-option>
              <mat-option [value]="1">Ensino Médio (em andamento)</mat-option>
              <mat-option [value]="0">Ensino Médio (concluido)</mat-option>
              <mat-option [value]="0">Ensino Superior (em andamento)</mat-option>
              <mat-option [value]="0">Ensino Superior (concluido)</mat-option>
            </mat-select>
            @if(formCandidate.controls['educationLevel'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      @if(formCandidate.controls['educationLevel'].value == 1){
        <div class="row justify-content-center">
          <div class="col-sm-12 col-md-8 col-lg-7 col-12">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Escola</mat-label>
              <mat-select formControlName="school_id">
                @for (school of schools; track school) {
                  <mat-option [value]="school.id">{{school.name}}</mat-option>
                }
              </mat-select>
              <mat-hint>Caso sua escola não esteja cadatrada fale no Instagram para cadastrar!</mat-hint>
              @if(formCandidate.controls['school_id'].errors?.['required']){
                <mat-error>Este campo é obrigatório</mat-error>
              }
            </mat-form-field>
          </div>
        </div>
      }

      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-4 col-lg-3 col-12">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>CPF</mat-label>
            <input type="text"
              placeholder="Digite o CPF"
              aria-label="CPF"
              matInput
              formControlName="cpf"
              mask="000.000.000-00">
            @if(formCandidate.controls['cpf'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
            @if(formCandidate.controls['cpf'].errors?.['mask']){
              <mat-error>O CPF é inválido</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-3 col-md-2 col-lg-2 col-3">
          <mat-form-field
            [ngClass]="{'msg-big': formCandidate.controls['ddPhone'].errors?.['required'] && formCandidate.controls['ddPhone'].touched}"
            class="w-100" appearance="outline"
          >
            <mat-label>DDD</mat-label>
            <input matInput type="text" mask="00" formControlName="ddPhone" placeholder="Ex.: 88">
            @if(formCandidate.controls['ddPhone'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-sm-5 col-md-3 col-lg-2 col-9">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Telefone(WhatsApp)</mat-label>
            <input matInput type="text" mask="0 0000-0000" formControlName="numberPhone" placeholder="Ex.: 988785445">
            @if(formCandidate.controls['numberPhone'].errors?.['required']){
              <mat-error>Este campo é obrigatório</mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-7 col-12">
          <button-loading
            [loading]="loadingSubmitForm"
            [type]="'submit'"
            [color]="'primary'"
            [disabled]="false"
            [description]="'Confirma inscrição'"
            [iconNext]="'arrow_forward'"
            [class]="'w-100'">
          </button-loading>
        </div>
      </div>
    }
  </form>
</section>
