.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}

::ng-deep .msg-big .mat-mdc-form-field-subscript-wrapper{
  height: 3.5rem !important;
}

.color-background-login{
  background-color: #ffffff;
}

.icon-display {
  transform: scale(1.5);
}
