@if(isLogged == true){
  <div class="min-h-screen flex relative lg:static surface-ground">
    <div
      #sidebar
      class="surface-section h-screen lg:block flex-shrink-0 absolute lg:static left-0 top-0 z-1 border-right-1 surface-border select-none hidden"
      style="width: 280px;"
    >
      <div class="flex flex-column h-full">
        <div class="flex justify-content-between align-items-center px-5 flex-shrink-0" style="height: 80px;">
          <img src="assets/images/logo.png" alt="Logo" height="80">

          <a (click)="!sidebar.classList.contains('hidden') ? sidebar.classList.add('hidden') : sidebar.classList.remove('hidden')" pstyleclass="#app-sidebar-11" enterclass="hidden" enteractiveclass="fadeinleft" leavetoclass="hidden" leaveactiveclass="fadeoutleft" class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3">
            <mat-icon>arrow_back_ios_new</mat-icon>
          </a>
        </div>

        <div class="overflow-y-auto">
          <ul class="list-none p-3 m-0">
            <li>
              <div
                (click)="!menuOne.classList.contains('hidden') ? menuOne.classList.add('hidden') : menuOne.classList.remove('hidden')"
                pstyleclass="@next" enterclass="hidden" enteractiveclass="slidedown" leavetoclass="hidden" leaveactiveclass="slideup" class="p-ripple p-element p-3 flex align-items-center justify-content-between text-600 cursor-pointer border-2 border-transparent border-rounded">
                <span class="font-medium">ADMIN</span>
                <mat-icon>{{!menuOne.classList.contains('hidden') ? 'expand_less' : 'expand_more'}}</mat-icon>
              </div>
              <ul #menuOne class="list-none p-0 m-0 overflow-hidden">
                <li>
                  <a pripple="" class="p-ripple p-element flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors text-indigo-500" style="border-radius: 12px;">
                    <mat-icon class="icon-emphasis">groups</mat-icon>
                    <span class="p-2 font-medium">Usuários</span>
                  </a>
                </li>

                <li>
                  <a routerLink="roles" class="none-text p-ripple p-element flex align-items-center cursor-pointer p-3 text-700 border-2 border-transparent hover:border-300 transition-duration-150 transition-colors" style="border-radius: 12px;">
                    <mat-icon class="icon-emphasis">people_alt</mat-icon>
                    <span class="p-2 font-medium">Perfis Usuários</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="list-none p-3 m-0"></ul>
        </div>
        <div class="mt-auto"><hr class="mb-3 mx-3 border-top-1 border-none surface-border">
          <a pripple="" class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors">
            <img src="assets/images/perfil.png" class="mr-2 border-circle" height="30">
            <div class="block">
              <div class="text-900 font-medium">Josephine Lillard</div>
              <span class="text-600 font-medium text-sm">Marketing Specialist</span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="min-h-screen flex flex-column relative flex-auto">
      <div class="flex justify-content-between align-items-center px-5 surface-0 border-bottom-1 surface-border relative lg:static" style="height: 60px;">
        <a (click)="!sidebar.classList.contains('hidden') ? sidebar.classList.add('hidden') : sidebar.classList.remove('hidden')" pstyleclass="#app-sidebar-11" enterclass="hidden" enteractiveclass="fadeinleft" leavetoclass="hidden" leaveactiveclass="fadeoutleft" class="p-ripple p-element cursor-pointer inline-flex align-items-center justify-content-center lg:hidden text-700 mr-3">
          <mat-icon>menu</mat-icon>
        </a>
        <a (click)="!menuSuspens.classList.contains('hidden') ? menuSuspens.classList.add('hidden') : menuSuspens.classList.remove('hidden')" pstyleclass="@next" enterclass="hidden" enteractiveclass="fadein" leavetoclass="hidden" leaveactiveclass="fadeout" class="p-ripple p-element cursor-pointer block lg:hidden text-700">
          <mat-icon>more_vert</mat-icon>
        </a>
        <ul
          #menuSuspens
          class="list-none p-0 m-0 lg:flex lg:align-items-center select-none lg:flex-row w-auto lg:w-full surface-section border-1 lg:border-none surface-border right-0 top-100 z-1 shadow-2 lg:shadow-none absolute lg:static hidden"
        >
          <li>
            <a pripple="" class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors">
              <mat-icon>expand_less</mat-icon>
              <span class="block lg:hidden font-medium">Inbox</span>
            </a>
          </li>
          <li>
            <a pripple="" class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-100 font-medium border-round cursor-pointer transition-duration-150 transition-colors">
              <mat-icon>expand_less</mat-icon>
              <span id="pr_id_14_badge" class="p-badge p-component p-badge-danger p-badge-dot"></span>
              <span class="block lg:hidden font-medium">Notifications</span>

            </a>
          </li>
          <li>
            <a pripple="" class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors">
              <mat-icon>expand_less</mat-icon>
              <span class="block lg:hidden font-medium">Settings</span>

            </a>
          </li>
          <li>
            <a pripple="" class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors">
              <mat-icon>expand_less</mat-icon>
              <span class="block lg:hidden font-medium">Profile</span>

            </a>
          </li>
          <li>
            <a pripple="" class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors">
              <mat-icon>expand_less</mat-icon>
              <span class="block lg:hidden font-medium">Favorites</span>
            </a>
          </li>
          <li>
            <a pripple="" class="p-ripple p-element flex p-3 lg:px-3 lg:py-2 align-items-center text-600 hover:text-900 hover:surface-200 font-medium border-round cursor-pointer transition-duration-150 transition-colors">
              <mat-icon>expand_less</mat-icon>
              <span class="block lg:hidden font-medium">Edit</span>

            </a>
          </li>
        </ul>
      </div>
      <div class="p-2 flex flex-column flex-auto">
        <div class="border-2 surface-border border-round surface-section flex-auto">
          <router-outlet></router-outlet>
        </div>
    </div>
  </div>
  </div>
} @else {
  <router-outlet></router-outlet>
}
