::ng-deep input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none !important;

}
::ng-deep input[type=number] {
 -moz-appearance: textfield !important;
 appearance: textfield !important;

}
