.ng-star-inserted{
  line-height: normal;
}
.none-text{
  color: #000;
  text-decoration:none;
}
.none-text-white{
  color: #fff;
  text-decoration:none;
}

.icon-emphasis{
  color: #3b82f6;
  transform: scale(1.5);
}

.icon-emphasis-blue{
  color:#326fd1 !important;
}
.icon-emphasis-orange{
  color:#f97316 !important;
}
.icon-emphasis-cyan{
  color:#059bb4 !important;
}
.icon-emphasis-purple{
  color:#a855f7 !important;
}

.icon-green{
  color: #2eb819;
  transform: scale(2);
}

::ng-deep .msg-big .mat-mdc-form-field-subscript-wrapper{
  height: 4rem !important;
}
::ng-deep .overflow-hidden .mat-mdc-tab-body-content{
  overflow: hidden;
}
.mat-tab-group {
  margin-bottom: 48px;
}
