.p-message{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  border-radius: 6px;
  padding: .6rem;
}

.pre-wrap{
  white-space: pre-line;
  justify-content: start;
}

.p-message-success{
  background: #cff8d0;
  border: solid #2c752f;
  border-width: 0 0 0 6px;
  color: #2c752f;

  .p-message-icon{
    font-size: 2.5rem !important;
    width: 2.5rem;
    height: 2.5rem;
  }
}

.p-message-error{
  background: #f2cfcf;
  border: solid #7a2424;
  border-width: 0 0 0 6px;
  color: #7a2424;

  .p-message-icon{
    transform: scale(2);
  }
}

.p-message-info{
  background: #cef0fa;
  border: solid #0988b3;
  border-width: 0 0 0 6px;
  color: #0988b3;

  .p-message-icon{
    transform: scale(2);
  }
}

.p-message-warning {
  background: #f9e8d2;
  border: solid #c88b56;
  border-width: 0 0 0 6px;
  color: #c88b56;

  .p-message-icon{
    transform: scale(1.5);
  }
}

@media (max-width: 425px) {
  .p-message{
    margin: .5rem 0;
    padding: 0.25rem 0.75rem;
  }

  .p-message-success .p-message-icon{
    font-size: 1.5rem !important;
    width: 2.5rem;
    height: 1.5rem;
  }

  .p-message-warning .p-message-icon{
    display: none;
  }
}

@media (max-width: 320px) {
  .p-message{
    margin: .5rem 0;
    padding: 0.25rem 0.75rem;
  }

  .p-message-success .p-message-icon{
    display: none;
  }
  .p-message-warning .p-message-icon{
    display: none;
  }
}
