.sub-title{
  font-size: x-small;
  font-weight: 400;
}

.price{
  font-size: small;
  font-weight: 700;
}

.add-followUp{
  background-color: #d6d6d6;

  .add-followUp-title{
    font-size: small;
    font-weight: 700;
  }

  .add-followUp-subTitle{
    font-size: x-small;
    margin-top: 0;
  }
}

.add-followUp-btn{
  .btn{
    padding: 0px 3px !important;
    margin: 0px !important;
  }

  .btn-danger{
    padding: 0px 5px !important;
  }
}
