<section class="container">
  <form
    [formGroup]="formNumberSale"
    (ngSubmit)="onSubmitNumberSale()"
    class="row justify-content-center py-3"
  >
    <div class="col-sm-12 col-md-6 col-lg-4 col-12">
      <mat-form-field class="w-100" appearance="outline">
        <mat-label>Número da venda</mat-label>
        <input
          matInput
          type="text"
          formControlName="numberSale"
          placeholder="Digite o número de inscrição"
        />
        @if(formNumberSale.controls['numberSale'].errors?.['required']){
        <mat-error>Este campo é obrigatório</mat-error>
        } @if(formNumberSale.controls['numberSale'].errors?.['mask']){
        <mat-error>Valor digitado errado</mat-error>
        }
      </mat-form-field>
    </div>

    <div class="col-sm-12 col-md-5 col-lg-4 col-12">
      <button-loading
        [loading]="loadingSubmitForm"
        [type]="'submit'"
        [color]="'primary'"
        [description]="'Pesquisar'"
        [iconNext]="'arrow_forward'"
        [class]="'w-100 p-1-7'"
      >
      </button-loading>
    </div>
  </form>

  <app-sale-view-info [sale]="sale"></app-sale-view-info>
</section>
