<div class="ng-star-inserted">
   <!--
    <div class="bg-bluegray-900 text-gray-100 p-3 flex justify-content-between lg:justify-content-center align-items-center flex-wrap">
      <div class="font-bold mr-8">🔥 Hot Deals!</div>
      <div class="align-items-center hidden lg:flex">
          <span class="line-height-3">Libero voluptatum atque exercitationem praesentium provident odit.</span>
      </div>
      <a class="flex align-items-center ml-2 mr-8">
          <a class="text-white" href="#"><span class="underline font-bold">Learn More</span></a>
      </a>
      <a pRipple class="flex align-items-center no-underline justify-content-center border-circle text-gray-50 hover:bg-bluegray-700 cursor-pointer transition-colors transition-duration-150" style="width:2rem; height: 2rem">
          <mat-icon aria-hidden="false" aria-label="fechar" fontIcon="close"></mat-icon>
      </a>
    </div>
    -->

   <div class="surface-overlay py-3 px-6 shadow-2 flex align-items-center justify-content-between relative lg:static">
      <img src="assets/images/logo.png" alt="Image" height="90">
        <a pstyleclass="@next" enterclass="hidden" leavetoclass="hidden" (click)="menuOpen = !menuOpen" class="p-element cursor-pointer block lg:hidden text-700">
          <mat-icon  aria-hidden="false" aria-label="fechar" fontIcon="menu"></mat-icon>
        </a>
      <div id="menu" [ngClass]="{'hidden':menuOpen}" class="align-items-center flex-grow-1 justify-content-between lg:flex absolute lg:static w-full surface-overlay left-0 top-100 px-6 lg:px-0 z-2 shadow-2 lg:shadow-none">
         <section></section>
         <ul class="list-none p-0 m-0 flex lg:align-items-center text-900 select-none flex-column lg:flex-row cursor-pointer">
            <li><a pripple="" href="#conheca" class="none-text p-ripple p-element flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"><span>Conheça +</span><span class="p-ink" style="height: 137px; width: 137px; top: -45.5px; left: 16.1875px;"></span></a></li>
            <li><a pripple="" href="#destaque" class="none-text p-ripple p-element flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"><span>Destaques</span><span class="p-ink" style="height: 137px; width: 137px; top: -34.5px; left: -41.8906px;"></span></a></li>
            <li><a pripple="" href="#patrocidaroes" class="none-text p-ripple p-element flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"><span>Patrocinadores</span><span class="p-ink" style="height: 114px; width: 114px; top: -30px; left: -20.9219px;"></span></a></li>
            <li><a pripple="" href="#contato" class="none-text p-ripple p-element flex px-0 lg:px-5 py-3 hover:text-blue-600 font-medium transition-colors transition-duration-150"><span>Contato</span><span class="p-ink" style="height: 114px; width: 114px; top: -30px; left: -20.9219px;"></span></a></li>
         </ul>
         <div class="flex justify-content-between lg:block border-top-1 lg:border-top-none surface-border py-3 lg:py-0 mt-3 lg:mt-0">
            <button routerLink="login" pbutton="" pripple="" label="Login" class="p-element p-ripple p-button-text font-bold p-button p-component">
              <span class="p-button-label">Login</span><span class="p-ink"></span>
            </button>
            <!-- <button pbutton="" pripple="" label="Register" class="p-element p-ripple ml-3 p-button-outlined font-bold p-button p-component">
              <span class="p-button-label">Register</span><span class="p-ink"></span>
            </button> -->
          </div>
      </div>
   </div>
   <div class="relative p-6 overflow-hidden">
      <img src="assets/images/background.jpg" alt="Image" class="absolute top-0 left-0 w-auto h-full block md:w-full">
      <div class="text-center my-6 relative">
         <div class="text-6xl text-white font-bold mb-1">Bem vindo ao Ace</div>
         <div class="text-6xl text-primary font-bold mb-4">Club de vôlei</div>
         <p class="mt-0 mb-4 line-height-3 text-center mx-auto text-white" style="max-width: 500px;">Nosso clube é o lugar para praticar um dos esportes mais populares do mundo. Dedicamo-nos a promover a cultura do vôlei.</p>
         <button pbutton="" pripple="" label="Learn More" type="button" class="p-element p-ripple p-button p-component"><span class="p-button-label">Saiba mais +</span><span class="p-ink"></span></button>
         <!-- <p class="text-sm mt-4 mb-4 line-height-3 text-white">Saiba mais +</p> -->
         <!-- <div class="flex justify-content-center align-items-center"><a href="https://www.apple.com" class="text-white mr-3"><i class="pi pi-apple text-2xl"></i></a><a href="https://play.google.com" class="text-white mr-3"><i class="pi pi-android text-2xl"></i></a><a href="https://www.facebook.com" class="text-white"><i class="pi pi-facebook text-2xl"></i></a></div> -->
      </div>
   </div>
   <div id="conheca" class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
      <div class="mb-3 font-bold text-3xl"><span class="text-900">Conheça um pouco mais o, </span><span class="text-blue-600">Ace Voleibol Clube</span></div>
      <div class="text-700 mb-6">Leia com atenção e fique por dentro dos nossos assuntos.</div>
      <div class="grid">
         <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
              <mat-icon class="icon-emphasis" aria-hidden="false" aria-label="fechar" fontIcon="business"></mat-icon>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Polos de treinamento</div>
            <span class="text-700 line-height-3">
              Nossos polos de treinamento são: Maria Amélia, Adauto Bezerra(2° Grau), Quadra do Municipal.
            </span>
         </div>
         <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
              <mat-icon class="icon-emphasis" aria-hidden="false" aria-label="fechar" fontIcon="groups_2"></mat-icon>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Treinadores</div>
            <span class="text-700 line-height-3">Nossos treinadores tem mais de 15 anos de experiência.</span>
         </div>
         <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;">
              <mat-icon class="icon-emphasis" aria-hidden="false" aria-label="fechar" fontIcon="category"></mat-icon>
            </span>
            <div class="text-900 text-xl mb-3 font-medium">Categorias</div>
            <span class="text-700 line-height-3">Nossas categorias de atletas são: Sub 15 femino e masculino, Sub 18 femino e masculino e o Adulto femino e masculino.</span>
         </div>
         <!-- <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;"><i class="pi pi-globe text-4xl text-blue-500"></i></span>
            <div class="text-900 text-xl mb-3 font-medium">Fast &amp; Global Support</div>
            <span class="text-700 line-height-3">Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum tellus.</span>
         </div>
         <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;"><i class="pi pi-github text-4xl text-blue-500"></i></span>
            <div class="text-900 text-xl mb-3 font-medium">Open Source</div>
            <span class="text-700 line-height-3">Nec tincidunt praesent semper feugiat. Sed adipiscing diam donec adipiscing tristique risus nec feugiat. </span>
         </div>
         <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px;"><i class="pi pi-shield text-4xl text-blue-500"></i></span>
            <div class="text-900 text-xlmb-3 font-medium">Trusted Securitty</div>
            <span class="text-700 line-height-3">Mattis rhoncus urna neque viverra justo nec ultrices. Id cursus metus aliquam eleifend.</span>
         </div> -->
      </div>
   </div>
   <div class="surface-section px-4 pb-8 md:px-6 lg:px-8">
      <div class="p-6 shadow-2 flex flex-column md:flex-row align-items-center justify-content-between" style="border-radius: 1rem; background: linear-gradient(0deg, rgba(0, 123, 255, 0.5), rgba(0, 123, 255, 0.5)), linear-gradient(92.54deg, #1C80CF 47.88%, #FFFFFF 100.01%);">
         <div class="pr-6">
            <div class="text-blue-100 font-medium text-xl mb-3">Já segue a gente no Instagram?</div>
            <div class="text-white font-medium text-5xl">Fique por dentro de tudo que acontece</div>
         </div>
         <div class="mt-4 mr-auto md:mt-0 md:mr-0">
          <a href="https://www.instagram.com/acevoleibol.clube?igsh=MXAxNng2b3k3czVwMw==" target="_blank" pbutton="" pripple="" label="Segue lá" class="none-text-white p-element p-ripple font-bold px-5 py-3 p-button-warning p-button-rounded p-button-raised white-space-nowrap p-button p-component">
            <span class="p-button-label">Segue lá</span>
            <span class="p-ink"></span>
          </a>
        </div>
      </div>
   </div>
   <div id="destaque" class="surface-ground px-4 py-8 md:px-6 lg:px-8">
      <div>
         <div class="text-900 font-bold text-4xl line-height-3 mb-3 text-center">Destaque do Ace</div>
         <p class="text-600 line-height-3 text-lg m-0 mb-6 text-center">Confira alguns dos nossos números e destaques.</p>
         <div class="grid surface-card shadow-2" style="border-radius: 10px;">
            <div class="col-12 md:col-3 px-5 py-5">
                <mat-icon class="icon-emphasis icon-emphasis-blue" aria-hidden="false" aria-label="fechar" fontIcon="groups_2"></mat-icon>
               <div class="text-900 font-bold text-4xl mb-3 line-height-3">100 +</div>
               <p class="text-700 m-0">Temos mais de 100 atletas no projeto.</p>
            </div>
            <div class="col-12 md:col-3 px-5 py-5">
              <mat-icon class="icon-emphasis icon-emphasis-orange" aria-hidden="false" aria-label="fechar" fontIcon="diversity_2"></mat-icon>
              <div class="text-900 font-bold text-4xl mb-3 line-height-3">10</div>
              <p class="text-700 m-0">Participamos de 10 competições no ano de 2023.</p>
            </div>
            <div class="col-12 md:col-3 px-5 py-5">
                <mat-icon class="icon-emphasis icon-emphasis-cyan" aria-hidden="false" aria-label="fechar" fontIcon="hourglass_bottom"></mat-icon>
                <div class="text-900 font-bold text-4xl mb-3 line-height-3">4 horas</div>
                <p class="text-700 m-0">Temos pelo menos 4 horas de treino por semana</p>
            </div>
            <div class="col-12 md:col-3 px-5 py-5">
                <mat-icon class="icon-emphasis icon-emphasis-purple" aria-hidden="false" aria-label="fechar" fontIcon="how_to_reg"></mat-icon>
                <div class="text-900 font-bold text-4xl mb-3 line-height-3">1</div>
                <p class="text-700 m-0">Sempre há uma seletiva por ano.</p>
            </div>
         </div>
      </div>
   </div>
   <div id="patrocidaroes" class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div>
         <div class="text-900 mb-3 font-bold text-4xl text-center">Nossos patrocinadores</div>
         <div class="text-600 mb-6 line-height-3 text-xl text-center">Confira os patrocidaroes que ajudam o Ace a acontecer.</div>
         <div class="grid">
            <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/logos/bets.png" alt="Image" height="80"></div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/logos/florence.png" alt="Image" height="80"></div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/logos/dicoracao.png" alt="Image"></div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/logos/torres.png" alt="Image" height="150"></div>
            </div>
            <!-- <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/images/blocks/logos/charot-500.svg" alt="Image"></div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/images/blocks/logos/shodan-500.svg" alt="Image"></div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/images/blocks/logos/hodly-500.svg" alt="Image"></div>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
               <div class="flex align-items-center justify-content-center p-3"><img src="assets/images/blocks/logos/franki-500.svg" alt="Image"></div>
            </div> -->
         </div>
      </div>
   </div>
   <!-- <div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
      <div class="font-bold text-5xl text-900 mb-5 text-center">Featured Articles</div>
      <div class="grid nogutter">
         <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 border-round h-full surface-card">
               <img src="assets/images/blocks/blog/blog-1.jpg" alt="Image" class="block w-full border-round-top">
               <div class="p-4">
                  <span class="block font-medium text-blue-600 mb-3">Crime</span>
                  <div class="text-xl text-900 font-medium mb-3 line-height-3">Fugitive flamingo spotted in Florida</div>
                  <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="flex">
                     <p-avatar image="assets/images/blocks/avatars/circle/avatar-f-1.png" shape="circle" class="p-element">
                        <div class="p-avatar p-component p-avatar-image p-avatar-circle">
                           <img src="assets/images/blocks/avatars/circle/avatar-f-1.png" class="ng-star-inserted">
                        </div>
                     </p-avatar>
                     <div class="ml-2">
                        <div class="text-sm font-bold text-900 mb-1">Anna Lane</div>
                        <div class="text-sm flex align-items-center text-700"><i class="pi pi-calendar mr-1 text-sm"></i><span>Apr 5, 2021</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 border-round h-full surface-card">
               <img src="assets/images/blocks/blog/blog-2.jpg" alt="Image" class="block w-full border-round-top">
               <div class="p-4 flex flex-column">
                  <span class="block font-medium text-pink-600 mb-3">Wildlife</span>
                  <div class="text-xl text-900 font-medium mb-3 line-height-3">Journey to the Ends of the Earth</div>
                  <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="flex">
                     <p-avatar image="assets/images/blocks/avatars/circle/avatar-f-2.png" shape="circle" class="p-element">
                        <div class="p-avatar p-component p-avatar-image p-avatar-circle">
                           <img src="assets/images/blocks/avatars/circle/avatar-f-2.png" class="ng-star-inserted">
                        </div>
                     </p-avatar>
                     <div class="ml-2">
                        <div class="text-sm font-bold text-900 mb-1">Arlene McCoy</div>
                        <div class="text-sm flex align-items-center text-700"><i class="pi pi-calendar mr-1 text-sm"></i><span>Apr 6, 2021</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-12 lg:col-4 p-3">
            <div class="shadow-2 border-round h-full surface-card">
               <img src="assets/images/blocks/blog/blog-3.jpg" alt="Image" class="block w-full border-round-top">
               <div class="p-4">
                  <span class="block font-medium text-orange-600 mb-3">Marine</span>
                  <div class="text-xl text-900 font-medium mb-3 line-height-3">'Real and imminent' extinction risk</div>
                  <div class="line-height-3 mb-3 text-700">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                  <div class="flex">
                     <p-avatar image="assets/images/blocks/avatars/circle/avatar-f-3.png" shape="circle" class="p-element">
                        <div class="p-avatar p-component p-avatar-image p-avatar-circle">
                           <img src="assets/images/blocks/avatars/circle/avatar-f-3.png" class="ng-star-inserted">
                        </div>
                     </p-avatar>
                     <div class="ml-2">
                        <div class="text-sm font-bold text-900 mb-1">Diane Miles</div>
                        <div class="text-sm flex align-items-center text-700"><i class="pi pi-calendar mr-1 text-sm"></i><span>Apr 9, 2021</span></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div> -->
   <!-- <div class="surface-section px-4 py-8 md:px-6 lg:px-8">
      <div>
         <div class="text-blue-600 text-2xl mb-4 text-center">Save up to 25% today</div>
         <div class="text-900 font-bold text-4xl text-center mb-4">Pricing Plans</div>
         <div class="flex flex-column md:flex-row mt-6">
            <div class="mb-6 md:mb-0 mr-0 md:mr-4 flex flex-column flex-grow-1">
               <div class="bg-bluegray-100 text-center p-3" style="border-radius: 6px 6px 0 0;">
                  <div class="text-2xl font-bold text-bluegray-900 mb-3">Basic</div>
                  <div class="flex align-items-center justify-content-center"><span class="font-bold text-bluegray-900 text-5xl mr-2">10$</span><span class="text-2xl text-bluegray-400"> / month</span></div>
               </div>
               <div class="bg-bluegray-50 p-4 flex flex-column flex-grow-1" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px;">
                  <div class="text-bluegray-500 font-bold line-height-3 mb-4">Ut enim ad minim veniam, quis nostrud exercitation.</div>
                  <ul class="list-none p-0 m-0 mb-5 text-bluegray-600">
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Arcu vitae elementum</span></li>
                     <li class="flex align-items-center"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Dui faucibus in ornare</span></li>
                  </ul>
                  <button pbutton="" pripple="" label="Try Free" class="p-element p-ripple p-button-secondary w-full mt-auto p-button p-component"><span class="p-button-label">Try Free</span><span class="p-ink"></span></button>
               </div>
            </div>
            <div class="mb-6 md:mb-0 mr-0 md:mr-4 flex flex-column flex-grow-1">
               <div class="bg-bluegray-800 text-center p-3 border-3 border-green-500 border-bottom-none" style="border-radius: 6px 6px 0 0;">
                  <div class="bg-green-500 text-0 font-bold text-sm inline-block p-2 mb-3" style="border-radius: 20px;">MOST POPULAR</div>
                  <div class="text-2xl font-bold text-white mb-3">Premium</div>
                  <div class="flex align-items-center justify-content-center"><span class="font-bold text-white text-5xl mr-2">20$</span><span class="text-2xl text-bluegray-400"> / month</span></div>
               </div>
               <div class="bg-bluegray-900 p-4 flex flex-column flex-grow-1 border-3 border-green-500 border-top-none" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px;">
                  <div class="text-bluegray-400 font-bold line-height-3 mb-4">Ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                  <ul class="list-none p-0 m-0 mb-5 text-bluegray-100">
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Arcu vitae elementum</span></li>
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Dui faucibus in ornare</span></li>
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Morbi tincidunt augue</span></li>
                     <li class="flex align-items-center"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Duis ultricies lacus sed</span></li>
                  </ul>
                  <button pbutton="" pripple="" label="Buy Now" class="p-element p-ripple p-button-success w-full mt-auto p-button p-component"><span class="p-button-label">Buy Now</span><span class="p-ink"></span></button>
               </div>
            </div>
            <div class="mb-6 md:mb-0 flex flex-column flex-grow-1">
               <div class="bg-blue-800 text-center p-3" style="border-radius: 6px 6px 0 0;">
                  <div class="text-2xl font-bold text-white mb-3">Enterprise</div>
                  <div class="flex align-items-center justify-content-center"><span class="font-bold text-white text-5xl mr-2">30$</span><span class="text-2xl text-blue-400"> / month</span></div>
               </div>
               <div class="bg-blue-900 p-4 flex flex-column flex-grow-1" style="box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1); border-radius: 0 0 6px 6px;">
                  <div class="text-blue-400 font-bold line-height-3 mb-4">Duis aute irure dolor in reprehenderit in voluptate velit.</div>
                  <ul class="list-none p-0 m-0 mb-5 text-blue-100">
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Arcu vitae elementum</span></li>
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Dui faucibus in ornare</span></li>
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Morbi tincidunt augue</span></li>
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Duis ultricies lacus sed</span></li>
                     <li class="flex align-items-center mb-3"><i class="pi pi-circle-on mr-2 text-sm"></i><span>Imperdiet proin</span></li>
                  </ul>
                  <button pbutton="" pripple="" label="Contact Us" class="p-element p-ripple p-button-outlined w-full mt-auto p-button p-component"><span class="p-button-label">Contact Us</span><span class="p-ink"></span></button>
               </div>
            </div>
         </div>
      </div>
   </div> -->
   <div class="surface-ground" id="contato">
      <div class="grid grid-nogutter">
         <div class="col-12 md:col-6 bg-no-repeat bg-cover p-8" style="background-image: url('assets/images/contact-2.jpg');">
            <div class="text-white text-2xl font-medium mb-6">Contato</div>
            <!-- <div class="text-gray-300 line-height-3 mb-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </div> -->
            <!-- <a class="inline-flex align-items-center text-blue-300 font-bold no-underline cursor-pointer"><span class="mr-3">View Address on Google Maps</span><i class="pi pi-arrow-right"></i></a> -->
            <ul class="list-none p-0 m-0 mt-6 text-white">
               <li class="flex align-items-center mb-3"><mat-icon aria-hidden="false" aria-label="fechar" fontIcon="call"></mat-icon><span>(88) 98888-8888</span></li>
               <li class="flex align-items-center mb-3"><mat-icon aria-hidden="false" aria-label="fechar" fontIcon="alternate_email"></mat-icon><span>acevoleibol.clube</span></li>
               <!-- <li class="flex align-items-center"><i class="pi pi-inbox mr-2"></i><span>contact.com.tr</span></li> -->
            </ul>
         </div>
         <div class="col-12 md:col-6">
            <div class="p-fluid formgrid grid px-4 py-8 md:px-6 lg:px-8">
               <div class="field col-12 lg:col-6 mb-4"><input id="firstname" type="text" pinputtext="" placeholder="Nome" class="p-inputtext p-component p-element py-3 px-2 text-lg"></div>
               <div class="field col-12 lg:col-6 mb-4"><input id="lastname" type="text" pinputtext="" placeholder="Sobrenome" class="p-inputtext p-component p-element py-3 px-2 text-lg"></div>
               <div class="field col-12 mb-4"><input id="email" type="text" pinputtext="" placeholder="Email" class="p-inputtext p-component p-element py-3 px-2 text-lg"></div>
               <div class="field col-12 mb-4"><input id="phone" type="text" pinputtext="" placeholder="Telefone" class="p-inputtext p-component p-element py-3 px-2 text-lg"></div>
               <div class="field col-12 mb-4"><textarea id="message" pinputtextarea="" rows="3" placeholder="Mensagem" class="p-inputtextarea p-inputtext p-component p-element py-3 px-2 text-lg p-inputtextarea-resizable" style="height: 104px; overflow: hidden;"></textarea></div>
               <div class="col-12 text-right"><button type="button" pbutton="" pripple="" label="Submit" icon="pi pi-envelope" class="p-element p-ripple px-5 py-3 w-auto p-button p-component"><span class="p-button-icon p-button-icon-left pi pi-envelope" aria-hidden="true"></span><span class="p-button-label">Enviar</span><span class="p-ink"></span></button></div>
            </div>
         </div>
      </div>
   </div>
   <div class="bg-gray-900 px-4 py-8 md:px-6 lg:px-8">
      <div class="bg-gray-900">
         <div class="grid">
            <div class="col-12 md:col-3 flex flex-wrap justify-content-start md:mb-0 mb-3">
               <img src="assets/images/logo.png" alt="footer sections" height="150" class="mr-3">
            </div>
            <div class="col-12 md:col-3">
              <div class="text-white text-lg mb-4 flex flex-wrap" style="max-width: 290px;">Maria Amélia: Av. Pres. Castelo Branco, sn - Pirajá, Juazeiro do Norte - CE</div>
              <div class="text-white text-lg mb-4 flex flex-wrap" style="max-width: 290px;">Adauto Bezerra(2º Grau): Av. Pres. Castelo Branco - Santa Tereza, Juazeiro do Norte</div>
              <div class="text-white text-lg mb-4 flex flex-wrap" style="max-width: 290px;">Quadra Municipal: R. Quinze de Novembro, 130 - São Miguel, Juazeiro do Norte - CE</div>
            </div>
            <div class="col-12 md:col-3">
               <div class="text-white mb-3"><mat-icon aria-hidden="false" aria-label="fechar" fontIcon="call"></mat-icon>(88) 98888-8888</div>
               <div class="text-white mb-3"><mat-icon aria-hidden="false" aria-label="fechar" fontIcon="alternate_email"></mat-icon>acevoleibol.clube</div>
            </div>
            <div class="col-12 md:col-3 text-gray-200">
               <div class="text-white font-bold line-height-3 mb-3">Mais informaçoes</div>
               <a class="line-height-3 block cursor-pointer mb-2">Noticias</a>
               <a class="line-height-3 block cursor-pointer mb-2">GEspost</a>
               <a class="line-height-3 block cursor-pointer">Mais +</a>
            </div>
         </div>
      </div>
   </div>
</div>
